@charset "utf-8";
body {
    /* 加载背景图 */
    background-image: url("img/background_blackSandBeach.jpg");
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #464646;
}
p{
    color: aliceblue;
}
a{
    color: aliceblue;
}
table{
    color: aliceblue;
}
hr{
    color: aliceblue;
}
h1{
    color: aliceblue;
}
.box{
    width: 340px;
    background: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}